<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIGHT&SHOP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    @* Toastr *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @RenderSection("CSSs", required: false)
    <style>
        .brand-logo {
            font-family: 'Roboto', sans-serif; /* Chọn font chữ đẹp */
            font-size: 36px; /* Kích thước chữ lớn */
            font-weight: 700; /* Chữ đậm */
            color: #000; /* Màu đen */
            text-transform: uppercase; /* Viết hoa toàn bộ */
            text-decoration: none; /* Bỏ gạch chân */
            letter-spacing: 1px; /* Khoảng cách giữa các chữ */
            display: inline-block;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng chữ nhẹ */
            transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; /* Hiệu ứng hover */
            cursor: pointer;
        }

        .brand-logo:hover {
            color: #333; /* Đổi sang màu xám đậm khi hover */
            transform: scale(1.05); /* Phóng to nhẹ khi hover */
            text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2); /* Bóng chữ đậm hơn khi hover */
        }

    </style>
</head>

<body>
     
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Vận chuyển miễn phí toàn quốc</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            @if (Context.Session.GetString("RefreshToken") == null)
                            {
                                <div class="header__top__links">
                                    <a asp-action="RegisterAccounts" asp-controller="Accounts">ĐĂNG KÝ</a>
                                    @* <a href="#">FAQs</a> *@
                                </div>
                                <div class="header__top__hover">
                                    <span>ĐĂNG NHẬP <i class="arrow_carrot-down"></i></span>
                                    <ul style="text-align: left" >
                                        <a asp-controller="Accounts" asp-action="Login_Customer">
                                            <li>KHÁCH HÀNG</li>
                                        </a>
                                        <a asp-controller="Accounts" asp-action="Login_Staff">
                                            <li>NHÂN VIÊN</li>
                                        </a>                                       
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__hover">
                                    <span>TÀI KHOẢN CỦA TÔI<i class="arrow_carrot-down"></i></span>
                                    <ul>
                                        
                                        <a asp-controller="UpdateProfile" asp-action="UpdateProfile" asp-route-id="">
                                        <li>CẬP NHẬT THÔNG TIN</li>
                                        </a>
                                        <a asp-action="Index" asp-controller="ClientOrder">
                                            <li>ĐƠN HÀNG</li>
                                        </a>
                                        <a asp-controller="Accounts" asp-action="LogoutAccount">
                                            <li>ĐĂNG XUẤT</li>
                                        </a>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home" class="brand-logo">EBIKE SHOP</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index") ? "active" : "")">
                                <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                            </li>
                            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Product") ? "active" : "")">
                                <a asp-action="Product" asp-controller="Home">Cửa hàng</a>
                            </li>
                            @* <li> *@
                            @*     <a href="#">Pages</a> *@
                            @*     <ul class="dropdown"> *@
                            @*         <li><a href="./about.html">About Us</a></li> *@
                            @*         <li><a href="./shop-details.html">Shop Details</a></li> *@
                            @*         <li><a href="./shopping-cart.html">Shopping Cart</a></li> *@
                            @*         <li><a href="./checkout.html">Check Out</a></li> *@
                            @*         <li><a href="./blog-details.html">Blog Details</a></li> *@
                            @*     </ul> *@
                            @* </li> *@
                            @* <li><a href="./blog.html">Blog</a></li> *@
                            @* <li><a href="./contact.html">Contacts</a></li> *@
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div id="IconCart" class="header__nav__option">                     
                        <div class="">
                            @await Component.InvokeAsync("WishlistNav")
                            @* <a href="#"><img src="img/icon/heart.png" alt=""></a> *@
                            <a asp-action="Index" asp-controller="Cart"><img src="~/img/icon/cart.png" alt=""><span></span></a>
                            <div class="price"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <div class="container py-5">
        @RenderBody()
    </div>
    @*<div class="container py-5">
        <h2 class="text-center mb-4">Sản phẩm bán chạy</h2>
        <div class="row">
            <!-- Product Item -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/product/product-1.jpg" />
                        span class="label">Mới</span
                         <ul class="product__hover"> 
                             <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li> 
                             <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>So sánh</span></a></li> 
                             <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> 
                         </ul> 
                    </div>
                    <div class="product__item__text">
                        <h6>Áo khoác biker Piqué</h6>
                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>67.24 VNĐ</h5>
                    </div>
                </div>
            </div>

            <!-- Product Item -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/product/product-1.jpg" />
                        <span class="label">Mới</span>
                         <ul class="product__hover"> 
                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li> 
                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>So sánh</span></a></li> 
                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> 
                         </ul> 
                    </div>
                    <div class="product__item__text">
                        <h6>Áo khoác biker Piqué</h6>
                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>67.24 VNĐ</h5>
                    </div>
                </div>
            </div>

            <!-- Product Item -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/product/product-1.jpg" />
                        <span class="label">Mới</span>
                         <ul class="product__hover"> 
                             <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li> 
                             <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>So sánh</span></a></li> 
                             <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> 
                         </ul> 
                    </div>
                    <div class="product__item__text">
                        <h6>Áo khoác biker Piqué</h6>
                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>67.24 VNĐ</h5>
                    </div>
                </div>
            </div>

            <!-- Product Item -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="~/img/product/product-1.jpg" />
                         <span class="label">Mới</span>
                         <ul class="product__hover"> 
                             <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li> 
                             <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>So sánh</span></a></li> 
                             <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> 
                         </ul> 
                    </div>
                    <div class="product__item__text">
                        <h6>Áo khoác biker Piqué</h6>
                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>67.24 VNĐ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    *@
    
    
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a style="color: white" asp-action="Index" asp-controller="Home" class="brand-logo">EBIKE SHOP</a>
                        </div>
                        <p>Khách hàng là trung tâm trong mô hình kinh doanh độc đáo của chúng tôi.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Mua Sắm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng quần áo</a></li>
                            <li><a href="#">Giỏ hàng</a></li>
                        </ul>
                    </div>
                </div>
                @* <div class="col-lg-2 col-md-3 col-sm-6"> *@
                @*     <div class="footer__widget"> *@
                @*         <h6>Hỗ trợ</h6> *@
                @*         <ul> *@
                @*             <li><a href="#">Liên hệ với chúng tôi</a></li> *@
                @*             <li><a href="#">Phương thức thanh toán</a></li> *@
                @*             <li><a href="#">Vận chuyển</a></li> *@
                @*             <li><a href="#">Đổi trả & Hoàn tiền</a></li> *@
                @*         </ul> *@
                @*     </div> *@
                @* </div> *@
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Liên hệ</h6>
                        <div class="footer__newslatter">
                            <p><strong>Địa chỉ:</strong> 123 Đường Hà Huy Tập, Thành phố Buôn Ma Thuột</p>
                            <p><strong>Số điện thoại:</strong> 0889882935</p>
                            <p><strong>Email:</strong> EbikeShop@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Bản quyền ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            Tất cả các quyền được bảo lưu bởi <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://www.facebook.com/HOANG0NG" target="_blank">Saber</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- code chatbot-->
    <div style="position: fixed; bottom: 20px; right: 20px; width: 700px; z-index: 1000; display: flex; flex-direction: column; align-items: flex-end;">
        <div id="tawk-bubble-container"
             role="button"
             tabindex="0"
             class="tawk-bubble-container d-flex align-items-center justify-content-center"
             onclick="toggleChatBox()"
             style="cursor: pointer; margin-bottom: 10px;">
            <div class="tawk-icon-right">
                <i role="button"
                   tabindex="0"
                   data-text="Đóng"
                   aria-label="Đóng"
                   class="tawk-icon tawk-icon-close tawk-icon-small"></i>
                <img src="~/img/pngtree-smart-chatbot-cartoon-clipart-png-image_6620453-removebg-preview.png"
                     alt="Thu hút chú ý đến tính năng trò chuyện"
                     class="img-fluid rounded-circle"
                     style="max-width: 75px; height: 75px; cursor: pointer">
            </div>
        </div>
        <div id="chat-box" class="chat-box" style="display: none; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width: 700px">
            <div class="chat-header" style="padding: 10px; background-color: #007bff; color: white; font-weight: bold; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                Hộp Thoại Hỗ Trợ
            </div>
            <div class="chat-body" id="chat-body" style="padding: 10px; max-height: 300px; overflow-y: auto; width: 700px">
                <div class="chat-message user-message" style="display: none;">
                    Chào bạn! Tôi muốn biết thêm về sản phẩm.
                </div>
                <div class="chat-message typing-indicator" id="typing-indicator" style="display: none; text-align: left;">
                    <span>...</span>
                </div>
            </div>
            <div class="chat-input-container" style="display: flex; padding: 10px; width: 700px">
                <input type="text" id="user-input" placeholder="Nhập câu hỏi..." class="chat-input" style="flex: 1; padding: 8px; border-radius: 5px; border: 1px solid #ccc;">
                <button onclick="sendMessage()" class="chat-send-button" style="margin-left: 5px; padding: 8px 12px; border-radius: 5px; background-color: #007bff; color: white; border: none;">Gửi</button>
            </div>
        </div>
    </div>
    <style>
        .chat-message {
            padding: 10px;
            margin: 5px 0;
            border-radius: 10px;
            max-width: 80%;
        }

        .user-message {
            background-color: cornflowerblue;
            color: white;
            text-align: left;
            align-self: flex-start;
        }

        .system-message {
            background-color: lightgray;
            color: black;
            text-align: left;
            align-self: flex-end;
        }

        .typing-indicator {
            color: #666;
            font-style: italic;
            text-align: left;
        }

        .chat-body {
            display: flex;
            flex-direction: column;
        }
    </style>
    <!-- Thanh xem sản phẩm so sánh nhanh -->
    <div id="coverQuickBarComparetion"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/site.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function() {

            if (performance.navigation.type !== 2) { // 2 là khi Back hoặc Forward
                var successMessage = '@TempData["SuccessMessage"]';
                if (successMessage && successMessage !== "") {
                    toastr.success(successMessage);
                }

                var errorMessage = '@TempData["ErrorMessage"]';
                if (errorMessage && errorMessage !== "") {
                    toastr.error(errorMessage);
                }
            }
        });     
        

        //Xử lí hiển thị số lượng và giá trị giỏ hàng
        fetch('/Cart/GetCartCount')
        .then(response => response.json())
        .then(data => {
            const header__nav__option = document.getElementById("IconCart")
            const spancount = header__nav__option.querySelector('span')
            const totalAmout = header__nav__option.querySelector('.price')
            spancount.textContent = data.count
            totalAmout.textContent = `${data.totalAmount} VNĐ`
        })
        
    </script>
    <!-- Mã load thanh xem sản phẩm so sánh nhanh -->
    <script>
        function loadQuickCompare() {
            $.ajax({
                url: "/compareProducts/QuickBarComparesProducts",
                method: "GET",
                success: (response) => {
                    $("#coverQuickBarComparetion").html(response);

                    const quickCompareSection = $("#quickCompareSection");
                    const toggleQuickCompareBtn = $("#toggleQuickCompare");

                    // Đảm bảo phần tử tồn tại trước khi thay đổi
                    if (quickCompareSection.length === 0 || toggleQuickCompareBtn.length === 0) return;

                    const isVisible = localStorage.getItem("compareVisible") === "True";

                    if (isVisible) {
                        quickCompareSection.show();
                        toggleQuickCompareBtn.hide();
                        localStorage.setItem("compareVisible", "True");
                    } else {
                        quickCompareSection.hide();
                        toggleQuickCompareBtn.show();
                        localStorage.setItem("compareVisible", "False");
                    }
                },
                error: (xhr) => {
                    console.error("Lỗi khi tải dữ liệu thanh so sánh:", xhr);
                }
            });
        }


        $(document).ready(function() {
            loadQuickCompare();
        })
    </script>

    <!-- Mã xử lí chatbox -->
    <script>
        function toggleChatBox() {
            const chatBox = document.getElementById('chat-box');
            chatBox.style.display = chatBox.style.display === 'none' ? 'block' : 'none';
        }

        async function sendMessage() {
            const userInput = document.getElementById('user-input');
            const chatBody = document.getElementById('chat-body');
            const typingIndicator = document.getElementById('typing-indicator');

            if (userInput.value.trim() === '') return;
            const userMessage = document.createElement('div');
            userMessage.className = 'chat-message user-message';
            userMessage.textContent = userInput.value;
            chatBody.appendChild(userMessage);
            userInput.value = '';
            typingIndicator.style.display = 'block';
            try {
                const response = await fetch('https://localhost:7137/api/Gemini', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(userMessage.textContent),
                });


                const data = await response.json();
                typingIndicator.style.display = 'none';

                // Thêm phản hồi từ hệ thống
                const systemMessage = document.createElement('div');
                systemMessage.className = 'chat-message system-message';
                systemMessage.innerHTML = data.message;
                chatBody.appendChild(systemMessage);
            } catch (error) {
                typingIndicator.style.display = 'none';
                const errorMessage = document.createElement('div');
                errorMessage.className = 'chat-message system-message';
                errorMessage.textContent = 'Xin lỗi, đã xảy ra lỗi trong quá trình xử lý.'
                console.error('Error:', error);
                chatBody.appendChild(errorMessage);
            }

            chatBody.scrollTop = chatBody.scrollHeight;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>