@using MVCBanXeDap.ViewModels
@model IEnumerable<ProductVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Hero Section Begin -->


<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/46-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Khám phá bộ sưu tập xe đạp</h6>
                            <h2>Xe đạp hiện đại</h2>
                            <p style="color: black">
                                Chất lượng vượt trội, thiết kế tinh tế và phù hợp cho mọi nhu cầu. Khám phá các mẫu xe đạp với công nghệ mới nhất, mang đến sự thoải mái và hiệu suất tối ưu.
                            </p>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            @* <div class="hero__social"> *@
                            @*     <a href="#"><i class="fa fa-facebook"></i></a> *@
                            @*     <a href="#"><i class="fa fa-twitter"></i></a> *@
                            @*     <a href="#"><i class="fa fa-pinterest"></i></a> *@
                            @*     <a href="#"><i class="fa fa-instagram"></i></a> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/dap-xe-co-tac-dung-gi-6.webp">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Khám phá bộ sưu tập xe đạp</h6>
                            <h2>Xe đạp cao cấp</h2>
                            <p style="color: black">
                                Những chiếc xe đạp tuyệt vời với thiết kế hiện đại và chất liệu cao cấp, phù hợp với tất cả mọi người, mang đến trải nghiệm tuyệt vời mỗi khi di chuyển.
                            </p>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            @* <div class="hero__social"> *@
                            @*     <a href="#"><i class="fa fa-facebook"></i></a> *@
                            @*     <a href="#"><i class="fa fa-twitter"></i></a> *@
                            @*     <a href="#"><i class="fa fa-pinterest"></i></a> *@
                            @*     <a href="#"><i class="fa fa-instagram"></i></a> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->
<div class="container py-5">
    <h2 class="text-center mb-4">Sản phẩm bán chạy</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="/Hinh/SanPham/@product.Hinh" alt="@product.TenSp" style="border-radius: 10px" />
                        <div class="hover-overlay">
                            <div class="text-center">
                                <a href="@Url.Action("Details", "Home", new { id = product.MaSP })" class="btn btn-danger btn-sm mb-3">
                                    Xem chi tiết
                                </a>
                                <br />
                                
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <button class="btn btn-outline-secondary btn-sm rounded-circle shadow" onclick="addProductToCompare(@product.MaSP)" title="So sánh sản phẩm">
                                        <img src="img/icon/compare.png" alt="So sánh" style="width: 20px; height: 20px;">
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm rounded-circle shadow" onclick="changeWishlistStatus(@product.MaSP, 'SanPham')" title="Yêu thích">
                                        ❤️
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="product__item__text">
                        <h6>@product.TenSp</h6>
                        <a href="#" class="add-cart">+ Thêm vào giỏ hàng</a>


                        <h6 style="color: red;">@product.MinPrice VNĐ - @product.MaxPrice VNĐ</h6>
                        
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<style scoped>
    .product__item__pic {
        position: relative;
        overflow: hidden;
    }

    .hover-overlay {
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 10;
    }

    .hover-text {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
    }

    .product__item__pic:hover .hover-overlay {
        opacity: 1;
    }
</style>

<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/46-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Khám phá bộ sưu tập xe đạp</h6>
                            <h2>Xe đạp hiện đại</h2>
                            <p style="color: black">
                                Chất lượng vượt trội, thiết kế tinh tế và phù hợp cho mọi nhu cầu. Khám phá các mẫu xe đạp với công nghệ mới nhất, mang đến sự thoải mái và hiệu suất tối ưu.
                            </p>
                            <a asp-action="Product" asp-controller="Home" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            @* <div class="hero__social"> *@
                            @*     <a href="#"><i class="fa fa-facebook"></i></a> *@
                            @*     <a href="#"><i class="fa fa-twitter"></i></a> *@
                            @*     <a href="#"><i class="fa fa-pinterest"></i></a> *@
                            @*     <a href="#"><i class="fa fa-instagram"></i></a> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/dap-xe-co-tac-dung-gi-6.webp">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Khám phá bộ sưu tập xe đạp</h6>
                            <h2>Xe đạp cao cấp</h2>
                            <p style="color: black">
                                Những chiếc xe đạp tuyệt vời với thiết kế hiện đại và chất liệu cao cấp, phù hợp với tất cả mọi người, mang đến trải nghiệm tuyệt vời mỗi khi di chuyển.
                            </p>
                            <a asp-action="Product" asp-controller="Home" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            @* <div class="hero__social"> *@
                            @*     <a href="#"><i class="fa fa-facebook"></i></a> *@
                            @*     <a href="#"><i class="fa fa-twitter"></i></a> *@
                            @*     <a href="#"><i class="fa fa-pinterest"></i></a> *@
                            @*     <a href="#"><i class="fa fa-instagram"></i></a> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->
<div class="container py-5">
    <h2 class="text-center mb-4">Sản phẩm bán chạy</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img src="/Hinh/SanPham/@product.Hinh" alt="@product.TenSp" style="border-radius: 10px"/>
                        <div class="hover-overlay">
                            <a href="@Url.Action("Details", "Home", new { id = product.MaSP })" class="btn btn-danger btn-sm">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6>@product.TenSp</h6>
                        


                        <h6 style="color: red;">@product.MinPrice VNĐ - @product.MaxPrice VNĐ</h6>
                        
                    </div>
                </div>
            </div>

        }
    </div>
</div>
