@using MVCBanXeDap.ViewModels
@model IEnumerable<ShippingVM>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .input-number {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    }

    .input-number:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Danh sách thông tin vận chuyển</h4>
        </div>
        <div class="card-body">
            <!-- Tìm kiếm, Bộ lọc, và Sắp xếp -->
            <div class="row mb-3">
                <div class="col-md-3">
                    <input id="keywords" value="@ViewBag.Keywords" name="keywords" type="text" class="form-control" placeholder="Tìm kiếm thông tin vận chuyển..." />
                </div>
                <div class="col-md-3">
                    <select id="priceFilter" class="form-select">
                        <option selected="@(string.IsNullOrEmpty(ViewBag.priceFilter))" value="">Lọc theo phí vận chuyển</option>
                        <option selected="@(ViewBag.priceFilter == "under20000")" value="under20000">Dưới 20000 VNĐ</option>
                        <option selected="@(ViewBag.priceFilter == "over20000")" value="over20000">Từ 20000 VNĐ trở lên</option>
                    </select>
                </div>            
                <div class="col-md-3">
                    <select id="SortByPrice" class="form-select">
                        <option selected="@(string.IsNullOrEmpty(ViewBag.SortByPrice))" value="">Sắp xếp</option>
                        <option selected="@(ViewBag.SortByPrice == "asc")" value="asc">Khoảng Giá: Thấp đến Cao</option>
                        <option selected="@(ViewBag.SortByPrice == "desc")" value="desc">Khoảng Giá: Cao đến Thấp</option>
                    </select>
                </div>
            </div> 

            <div class="d-flex justify-content-start mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addShippingModal">
                    <i class="fas fa-plus"></i> Thêm thông tin vận chuyển
                </button>
            </div>

            <!-- Danh sách vận chuyển -->
            <div class="table-responsive">
                <table id="basic-datatables" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Phường</th>
                            <th>Quận/Huyện</th>
                            <th>Thành Phố</th>
                            <th>Phí ship</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="basic-datatables">
                        @foreach(var ship in Model)
                        {
                            <tr>
                                <td>
                                    @ship.Phuong
                                </td>
                                <td>
                                    @ship.QuanHuyen
                                </td>
                                <td>@ship.ThanhPho</td>
                                <td>@ship.Gia</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal-@ship.Id-edit">
                                            <i class="fas fa-edit"></i> Sửa
                                        </button>
                                        <partial name="_ShippingtEdit" model="@ship" />
                                        <form method="post" asp-action="Delete" asp-controller="Shipping" asp-route-id="@ship.Id" style="display: inline" onsubmit="return confirm('Bạn có chắc chắn muốn xóa thông tin vận chuyển này không?')">
                                            <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Xóa</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        } 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Phân trang -->
 <nav>
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.Page == i ? "active" : "")">
                <a class="page-link" data-page="@i" href="@Url.Action("Index", new { keywords = ViewBag.Keywords, priceFilter = ViewBag.PriceFilter, SortByPrice = ViewBag.SortByPrice, page = i })">@i</a>
            </li>
        }
    </ul>
</nav> 
<div id="partialContainer"></div>
<!-- Modal Thêm sản phẩm -->
<partial name="_ShippingCreate"></partial>
<script>
    $(document).ready(function() {
        //Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
            if(data_tinh.error==0){
               $.each(data_tinh.data, function (key_tinh,val_tinh) {
                  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
               });
               $("#tinh").change(function(e){
                    var idtinh=$(this).val();
                    //Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
                        if(data_quan.error==0){
                           $("#quan").html('<option value="0">Quận Huyện</option>');
                           $("#phuong").html('<option value="0">Phường Xã</option>');
                           $.each(data_quan.data, function (key_quan,val_quan) {
                              $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
                           });
                           //Lấy phường xã
                           $("#quan").change(function(e){
                                var idquan=$(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
                                    if(data_phuong.error==0){
                                       $("#phuong").html('<option value="0">Phường Xã</option>');
                                       $.each(data_phuong.data, function (key_phuong,val_phuong) {
                                          $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
                                       });
                                    }
                                });
                           });

                        }
                    });
               });

            }
        });
    });

    function GeneratePartialViewEdit(element){
        var dataShipping = element.getAttribute('data-shipping')
        var shippingID = JSON.parse(dataShipping).id
        $.ajax({
            url: '/Shipping/GetPartialViewEdit',
            type: 'POST',
            contentType: 'application/json',
            data: dataShipping,
            success: function (data) {
                console.log("Dữ liệu trả về:", data);
                $('#partialContainer').html(data);
                console.log("Thành công");

                // Khởi tạo lại modal sau khi thêm vào DOM
                const modalElement = document.querySelector(`#modal-${shippingID}-edit`); // Thay #modalId bằng ID của modal trong data
                if (modalElement) {
                    const modalInstance = new bootstrap.Modal(modalElement);
                    modalInstance.show(); // Hiển thị modal

                    document.getElementById("closeModel").addEventListener("click", function() {
                        modalElement.remove();
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error("Error Status: ", status);
                console.error("Error Message: ", error);
                console.error("Response Text: ", xhr.responseText);
            }
        });
    }


    function GenerateShipping(){
        const keywords = document.getElementById("keywords");
        const priceFilter = document.getElementById("priceFilter");
        const SortByPrice = document.getElementById("SortByPrice");
        fetch(`https://localhost:7137/api/Shippings/GetAll?keywords=${keywords.value}&priceFilter=${priceFilter.value}&SortByPrice=${SortByPrice.value}`)
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById("basic-datatables");
            tableBody.innerHTML = "";
            data.data.forEach(ship => {              
                const row = `
                    <tr>
                        <td>
                            ${ship.phuong}
                        </td>
                        <td>
                            ${ship.quanHuyen}
                        </td>
                        <td>${ship.thanhPho}</td>
                        <td>${ship.gia}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button data-shipping='${JSON.stringify(ship)}' onclick="GeneratePartialViewEdit(this)" type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modal-${ship.id}-edit">
                                    <i class="fas fa-edit"></i> Sửa
                                </button>
                                <form method="post" asp-action="Delete" asp-controller="Shipping" asp-route-id="${ship.id}" style="display: inline" onsubmit="return confirm('Bạn có chắc chắn muốn xóa thông tin vận chuyển này không?')">
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Xóa</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                `
                tableBody.innerHTML += row;
            })
            //Cập nhật phân trang
            var pagination = document.querySelector(".pagination")
            pagination.innerHTML = ""
            for(let i = 1; i <= data.totalPages; i++){
                const pageLink = `
                        <li class="page-item ${data.page === i ? "active" : ""}">
                            <a class="page-link" data-page="${i}" href="/Shipping/Index?keywords=${keywords.value}&priceFilter=${priceFilter.value}&SortByPrice=${SortByPrice.value}&page=${i}">${i}</a>
                        </li>
                    `;
                    pagination.innerHTML += pageLink
            }
        }).catch(error => console.error("Error fetching data:", error));
    }
    keywords.addEventListener("input", function () {
        GenerateShipping()
    });
    priceFilter.onchange = function(){
        GenerateShipping()
    }
    SortByPrice.onchange = function(){
        GenerateShipping();
    }
</script>